<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<nav class="navbar navbar-expand-lg" style="background-color: goldenrod">
  <div class="container-fluid" style="background-color: goldenrod">
    <h1 style="background-color: goldenrod; margin: 0px; margin-right: 1%;">
      <i class="bi bi-fingerprint" style="background-color: goldenrod; color: rgb(49, 49, 48)"></i>
    </h1>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="background-color: goldenrod">
      <li class="nav-item" style="background-color: goldenrod">
        <a class="nav-link active" aria-current="page" href=""
          style="color: rgb(49, 49, 48) !important; font-weight: bold;">Home</a>
      </li>
      <li class="nav-item" style="background-color: goldenrod">
        <a class="nav-link active" aria-current="page" href=""
          style="color: rgb(49, 49, 48) !important; font-weight: bold;">Produtos</a>
      </li>
      <li class="nav-item" style="background-color: goldenrod">
        <a class="nav-link active" aria-current="page" href=""
          style="color: rgb(49, 49, 48) !important; font-weight: bold;">Quem Somos</a>
      </li>
    </ul>
  </div>
</nav>

<main class="main">
  <div class="row row-cols-3 row-cols-lg-4 g-2 g-lg-1">
    <div>
      <div class="card card-colorido">
        <img src="https://picsum.photos/500/300?radom=1">
        <div class="card-body">
          <h5 class="card-title">Imagem 1</h5>
        </div>
      </div>
    </div>
    <div>
      <div class="card card-colorido">
        <img src="https://picsum.photos/500/300?radom=2">
        <div class="card-body">
          <h5 class="card-title">Imagem 2</h5>
        </div>
      </div>
    </div>
    <div>
      <div class="card card-colorido">
        <img src="https://picsum.photos/500/300?radom=3">
        <div class="card-body">
          <h5 class="card-title">Imagem 3</h5>
        </div>
      </div>
    </div>
    <div>
      <div class="card card-colorido">
        <img src="https://picsum.photos/500/300?radom=4">
        <div class="card-body">
          <h5 class="card-title">Imagem 4</h5>
        </div>
      </div>
    </div>
    <div>
      <div class="card card-colorido">
        <img src="https://picsum.photos/500/300?radom=5">
        <div class="card-body">
          <h5 class="card-title">Imagem 5</h5>
        </div>
      </div>
    </div>
    <div>
      <div class="card card-colorido">
        <img src="https://picsum.photos/500/300?radom=6">
        <div class="card-body">
          <h5 class="card-title">Imagem 6</h5>
        </div>
      </div>
    </div>
    <div>
      <div class="card card-colorido">
        <img src="https://picsum.photos/500/300?radom=7">
        <div class="card-body">
          <h5 class="card-title">Imagem 7</h5>
        </div>
      </div>
    </div>
    <div>
      <div class="card card-colorido">
        <img src="https://picsum.photos/500/300?radom=8">
        <div class="card-body">
          <h5 class="card-title">Imagem 8</h5>
        </div>
      </div>
    </div>
  </div>
</main>

<footer class="fixed-bottom">
  <div class="page-content footer">
    <p class="mt-1 mb-1">
      Desenvolvido por: <a href="https://github.com/GustavoBotejara">Gustavo Botejara </a>
      <i class="bi bi-github"></i>
    </p>
  </div>
</footer>
<router-outlet />
